:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(60, 99, 117);
}

body{
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: rgb(223, 202, 183);
    padding: 1em;
}

header span {
    font-size: 2em;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2em;
}

nav a {
    text-decoration: none;
}

#index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10vw;
    margin: 3em;
}

#page {
    color: rgb(255, 255, 255);
    padding: 3em;
}

.card {
    background-size: cover;
    background-position: center;
    display: grid;
    border-radius: .2rem;
    height: 40vw;
    text-decoration: none;
    color: black;
}
.card span {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(161, 161, 161, 0.644);
    padding: 2rem;
    border-radius: .2rem;
    font-size: 3vw;
}
